// Define variables for your color scheme
$red: #FD1015;
$blue: #0D6EFD;
$yellow: #FFC65A;
$orange: #E67E22;
$green: #1EDD88;
$gray: #0E0000;
$light-gray: #F4F4F4;
// main color palette:
$darkest-pink: #810947;
$even-darker-pink: #4e032a;
$hot-pink: #da0b85;
$barbie-pink: #f833c3;
$soft-light-pink: #ffbbff;
$button-pink: #f4dcea;
$faint-pink: #ffeff1;
$white: #ffffff;
// maybe colors in future:
// $darktheme-pink: #211e1e;
// $deep-red: #a60b3c;
// $maybe-red: #a60b3c;
// $salmon: #d4919b;
// $light-pink: #fd7fe8;
// $lilac-pink: #f4c7ff;
// $washed-pink: #eed7ee;
// $background: #f3cfda;
