// Define variables for your color scheme

// For example:
$red: #FD1015;
$blue: #0D6EFD;
$yellow: #FFC65A;
$orange: #E67E22;
$green: #1EDD88;
$gray: #0E0000;
$light-gray: #F4F4F4;


// color palette:
$darkest-pink: #810947;
$even-darker-pink: #4e032a;
$deep-red: #a60b3c;
$hot-pink: #da0b85;
$barbie-pink: #f833c3;
$light-pink: #fd7fe8;
$soft-light-pink: #ffbbff;
$washed-pink: #eed7ee;
$lilac-pink: #f4c7ff;
$white: #ffffff;
$salmon: #d4919b;
$button-pink: #f4dcea;
$faint-pink: #ffeff1;
$background: #f3cfda;
// $maybe-red: #a60b3c;
