// about page styling
.page-banner-about {
  position: absolute;
  display: flex;
  justify-content: space-between;
  top: 75px;
  margin-top: 25px;
  align-items: center;
  width: 100vw;
  font-size: 32px;
}

.back-button-about {
  font-size: 32px;
  margin-left: 36px;

  i {
    text-decoration: none;
    color: $darkest-pink;
    background-color: $white;
    border-radius: 50%;
    box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.1);
    transition: 0.3s ease;
  }

  &:hover i {
    color: $white;
    background-color: $hot-pink;
    border: 1px solid $darkest-pink;
    box-shadow: 2px 2px 4px rgba(0, 0, 0, 0.5);
  }
}

.page-title-about {
  text-align: right;
  color: $darkest-pink;
  margin-right: 36px;

  h3 {
    font-size: 28px;
    font-weight: lighter;
    margin-bottom: 0;
  }
}

.page-container {
 margin: 0 auto;
 width: 100vw;
 min-height: 100vh;
 display: flex;
 flex-direction: column;
 flex-grow: 1;
 align-items: center;
}

.about-card-container {
  min-height: 100vh;
  margin: 0 auto;
  display: flex;
  margin-top: 175px;
  margin-bottom: 100px;
  flex-direction: column;
  align-items: center;
  flex-grow: 1;
}

.photo-credit {
  font-size: 12px;
  padding-top: 0 !important;

  a {
    text-decoration: none;
    color: $even-darker-pink;
  }
}

.card-left {
  display: flex;
  margin: 0 auto;
  margin-bottom: 16px;
  margin-top: 16px;
  align-items: center;
  justify-content: space-between;

  .card-left-text {
    background-color: $white;
    border-radius: 3px;
    padding: 8px;
    box-shadow: 2px 2px 4px rgba(0, 0, 0, 0.1);
    display: flex;
    flex-direction: column;
    text-align: left;
  }

  h3 {
    color: $darkest-pink;
    padding: 4px;
    margin: 8px;
    margin-bottom: 0;
    padding-bottom: 0;
  }

  p {
    color: $even-darker-pink;
    padding: 8px;
    margin: 8px;
    margin-top: 0;
  }

  .card-left-img {
    align-items: center;
    display: flex;
    padding: 0;
    justify-content: end;
  }

  img {
    border-radius: 3px;
    box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.2);
    overflow: hidden;
    max-height: 250px;
    width: auto;
  }
}

.card-right {
  margin: 0 auto;
  display: flex;
  margin-bottom: 16px;
  margin-top: 16px;
  align-items: center;
  justify-content: space-between;

  .card-right-text {
    background-color: $white;
    border-radius: 3px;
    padding: 8px;
    box-shadow: 2px 2px 4px rgba(0, 0, 0, 0.1);
    display: flex;
    flex-direction: column;
    text-align: right;
  }

  h3 {
    color: $darkest-pink;
    padding: 4px;
    margin: 8px;
    margin-bottom: 0;
    padding-bottom: 0;
  }

  p {
    color: $even-darker-pink;
    padding: 8px;
    margin: 8px;
    margin-top: 0;
  }

  .card-right-img {
    align-items: center;
    justify-content: start;
    display: flex;
    padding: 0;
  }

  img {
    border-radius: 3px;
    box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.2);
    overflow: hidden;
    max-height: 250px;
    width: auto;
  }
}

@media (max-width: 900px) {
  .card-left-text {
    margin-right: 8px;
  }

  .card-left-img {
    margin-left: 8px;
  }

  .card-right-text {
    margin-left: 8px;
  }

  .card-right-img {
    margin-right: 8px;
  }

  .photo-credit {
    font-size: 10px;
  }
}

@media (max-width: 576px) {
  .about-card-container {
    margin-top: 125px;
    margin-bottom: 75px;
    align-items: center;
  }

  .card-left {
    align-items: center;
    justify-content: center;
  }

  .card-right {
    align-items: center;
    justify-content: center;
  }

  .card-left-text {
    margin-right: 0;
    text-align: center !important;
    margin-bottom: 16px;
    margin-top: 16px;
    justify-content: center;
  }

  .card-left-img {
    margin-bottom: 8px;
    margin-top: 8px;
    margin-left: 0;
    margin-right: 0;
    justify-content: center !important;
    align-items: center;
    flex: 1 1 auto;
  }

  .card-right-text {
    text-align: center !important;
    margin-bottom: 8px;
    margin-top: 8px;
    margin-left: 0;
    justify-content: center;
  }

  .card-right-img {
    margin-top: 8px;
    margin-bottom: 8px;
    margin-right: 0;
    justify-content: center !important;
  }

  .back-button-about {
    margin-left: 24px;
  }

  .page-banner-about {
    top: 75px;
    margin-top: 16px;
  }

  .page-title-about {
    margin-right: 24px;
  }

  .page-title-about h3 {
    font-size: 24px;
  }
}

@media (max-width: 450px) {
  .back-button-about {
    margin-left: 20px;
  }

  .page-banner-about {
    top: 60px;
    margin-top: 16px;
  }

  .page-title-about {
    margin-right: 20px;
  }

  .page-title-about h3 {
    font-size: 24px;
  }
}

@media (max-width: 400px) {
  .about-card-container {
    margin-top: 100px;
  }

  .back-button-about {
    margin-left: 20px;
  }

  .page-banner-about {
    top: 50px;
    margin-top: 8px;
  }

  .page-title-about {
    margin-right: 20px;
  }

  .page-title-projects h3 {
    font-size: 20px;
  }
}
