// Specific CSS for your home-page

.body-container {
  height: 80vh;
  width: 100vw;
  display: flex;
}

.body-container .grouped-cards {
  display: flex;
  align-items: center;
  flex-direction: column;

  .wide-card {
    flex-shrink: 1;
    align-items: center;
    justify-content: center;
    display: flex;
    margin: 16px;
    margin-top: 24px;
    margin-bottom: 0px;
  }

  #intro-card {
    color: $white;
    text-align: center;
    background-color: $darkest-pink;
    border: 1px solid $even-darker-pink;
    box-shadow: 1px 2px 4px rgba(0, 0, 0, 0.1);
    flex: 1 1 auto;
    height: auto;
    padding: 16px;
    border-radius: 3px;
  }

  .card-row {
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-direction: row;
  }

  .button-card {
    background-color: $darkest-pink;
    border: 1px solid $even-darker-pink;
    box-shadow: 1px 2px 4px rgba(0, 0, 0, 0.1);
    color: $white;
    text-align: center;
    height: auto;
    border-radius: 3px;
    flex: 1 1 auto;
    transition: 0.3s;
  }

  .button-card:hover {
    background-color: $faint-pink;
    color: $even-darker-pink;
    border: 1px solid $darkest-pink;
  }

  .button-card p {
    margin: 16px;
  }

  .card-link {
    text-decoration: none;
    justify-content: space-between;
    margin-top: 1.5rem;
  }
}
