// Specific CSS for your home-page

.body-container {
  width: 100vw;
  display: flex;
  flex-direction: column;
  margin: 0;
  margin-top: 150px;
  margin-bottom: 75px;
}

.grouped-cards {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  flex-grow: 1;
}

.wide-card {
  flex-shrink: 1;
  align-items: center;
  justify-content: center;
  display: flex;
  margin: 0 auto;
  margin-top: 0px;
  margin-bottom: 0px;
}

#intro-card {
  color: $darkest-pink;
  background-color: $white;
  text-align: center;
  box-shadow: 2px 2px 4px rgba(0, 0, 0, 0.1);
  flex: 1 1 auto;
  height: auto;
  padding: 24px;
  font-size: 20px;
  border-radius: 3px;
}

.card-row {
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-direction: row;
}

.button-card {
  background-color: $darkest-pink;
  border: 1px solid $even-darker-pink;
  box-shadow: 3px 3px 5px rgba(0, 0, 0, 0.1);
  color: $white;
  font-weight: 450;
  text-align: center;
  height: auto;
  border-radius: 3px;
  flex: 1 1 auto;
  transition: 0.3s ease;

  p {
    margin: 16px;
  }

  &:hover {
    background-color: $white;
    color: $hot-pink;
    border: 1px solid $even-darker-pink;
    box-shadow: 2px 2px 4px rgba(0, 0, 0, 0.3);
  }
}

.card-link {
  text-decoration: none;
  justify-content: space-between;
  margin-top: 1.5rem;
}

.homepage-title {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  overflow: hidden;
  margin: 0 auto;
  margin-bottom: 40px;
  background-color: $white;
  border-radius: 3px;
  box-shadow: 2px 2px 4px rgba(0, 0, 0, 0.1);
  opacity: 0;
  transform: translateX(100%);
  animation: slideIn 1.75s ease-out forwards;
  z-index: 1;
}

.slide-in {
  opacity: 0;
  transform: translateX(100%);
  font-style: italic;
  -webkit-animation: slideInText 1.5s ease-out forwards;
  animation: slideInText 1.5s ease-out forwards;
}

.title {
  font-size: 2rem;
  margin: 0;
  padding: 8px;
  padding-top: 24px;
  -webkit-animation-delay: 1s;
  animation-delay: 1s;

  h1 {
    font-weight: bolder;
    text-align: center;
    background-image: linear-gradient(to right, $hot-pink, $barbie-pink);
    -webkit-background-clip: text;
    background-clip: text;
    -webkit-text-fill-color: transparent;
    color: transparent;
    text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.1);
  }
}

.subtitle {
  font-size: 1rem;
  margin: 0;
  padding: 8px;
  padding-bottom: 16px;
  -webkit-animation-delay: 2s;
  animation-delay: 2s;

  h3 {
    text-align: center;
    background-image: linear-gradient(to right, $darkest-pink, $hot-pink);
    -webkit-background-clip: text;
    background-clip: text;
    -webkit-text-fill-color: transparent;
    color: transparent;
    text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.1);
  }
}

@-webkit-keyframes slideIn {
  0% {
    opacity: 0;
    -webkit-transform: translateX(100%);
  }

  100% {
    opacity: 1;
    -webkit-transform: translateX(0);
  }
}

@keyframes slideIn {
  0% {
    opacity: 0;
    transform: translateX(100%);
  }

  100% {
    opacity: 1;
    transform: translateX(0);
  }
}

@-webkit-keyframes slideInText {
  0% {
    opacity: 0;
    -webkit-transform: translateX(100%);
    font-style: italic;
  }

  100% {
    opacity: 1;
    -webkit-transform: translateX(0);
    font-style: normal;
  }
}

@keyframes slideInText {
  0% {
    opacity: 0;
    transform: translateX(100%);
    font-style: italic;
  }

  100% {
    opacity: 1;
    transform: translateX(0);
    font-style: normal;
  }
}

@media (max-width: 450px) {
  #intro-card {
    font-size: 14px !important;
    margin: 0;
    padding: 20px !important;
  }

  .homepage-title {
    margin-bottom: 32px;
  }

  .title h1 {
    margin-bottom: 0;
  }

  .subtitle h3 {
    font-size: 18px;
    padding-top: 0;
  }
}

@media (max-width: 400px) {
  .body-container {
    margin-top: 100px;
  }

  .button-card p {
    margin: 12px !important;
  }
}

@media (max-width: 350px) {
  .button-card {
    font-size: 14px;
  }
}

@media (max-height: 720px) {
  .title h1 {
    font-size: 20px;
  }

  .subtitle h3 {
    font-size: 16px;
  }

  #intro-card {
    font-size: 14px !important;
  }

  .button-card {
    font-size: 14px;
  }

  .body-container {
    margin-top: 100px;
  }
}
