// projects page styling
.page-banner-projects {
  position: absolute;
  display: flex;
  justify-content: space-between;
  top: 75px;
  margin-top: 25px;
  align-items: center;
  width: 100vw;
  font-size: 32px;
}

.back-button-projects {
  font-size: 32px;
  margin-left: 36px;

  i {
    text-decoration: none;
    color: $darkest-pink;
    background-color: $white;
    border-radius: 50%;
    box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.1);
    transition: 0.3s ease;
  }

  &:hover i {
    color: $white;
    background-color: $hot-pink;
    border: 1px solid $darkest-pink;
    box-shadow: 2px 2px 4px rgba(0, 0, 0, 0.5);
  }
}

.page-title-projects {
  text-align: right;
  color: $darkest-pink;
  margin-right: 36px;

  h3 {
    font-size: 28px;
    font-weight: lighter;
    margin-bottom: 0;
  }
}

.projects-page-container {
  width: 100vw;
  margin: 0 auto;
  margin-top: 200px;
  margin-bottom: 100px;
  display: flex;
  flex-direction: column;
}

@media (max-width: 576px) {
  .back-button-projects {
    margin-left: 24px;
  }

  .page-banner-projects {
    top: 75px;
    margin-top: 16px;
  }

  .page-title-projects {
    margin-right: 24px;
  }

  .page-title-projects h3 {
    font-size: 24px;
  }

  .projects-page-container {
    margin-top: 175px;
  }
}

@media (max-width: 450px) {
  .back-button-projects {
    margin-left: 20px;
  }

  .page-banner-projects {
    top: 60px;
    margin-top: 16px;
  }

  .page-title-projects {
    margin-right: 20px;
  }

  .page-title-projects h3 {
    font-size: 24px;
  }

  .projects-page-container {
    margin-top: 150px;
  }
}

@media (max-width: 400px) {
  .back-button-projects {
    margin-left: 20px;
  }

  .page-banner-projects {
    top: 50px;
    margin-top: 8px;
  }

  .page-title-projects {
    margin-right: 20px;
  }

  .page-title-projects h3 {
    font-size: 20px;
  }
}
