<footer class="custom-footer">
  <span class="footer-logo col-2">
    <%= link_to root_path do %>
      <%= image_tag "BethCodes_initials_cropped.png", alt: "BethCodes logo initials" %>
    <% end %>
  </span>
  <span class="footer-copyright col-8">
    <p>&copy; 2024 BethCodes. All Rights Reserved.</p>
  </span>
  <span class="footer-icons col-2">
    <%= link_to "https://github.com/BethGeast", target: "_blank" do %>
      <i class="fa-brands fa-square-github"></i>
    <% end %>
    <%= link_to "https://www.linkedin.com/in/bethgeast/", target: "_blank" do %>
      <i class="fa-brands fa-linkedin"></i>
    <% end %>
  </span>
</footer>
