<%# pages#about %>
<div class="page-container">
  <div class="about-card-container col-12">
    <div class="card-left col-10">
      <div class="card-left-text">
        <h3>card one header</h3>
        <p>card one paragraph text</p>
      </div>
      <div class="card-left-img">
        <%= image_tag "logo.png", alt: "alt" %>
      </div>
    </div>
    <div class="card-right col-10">
      <div class="card-right-img">
        <%= image_tag "logo.png", alt: "alt" %>
      </div>
      <div class="card-right-text">
        <h3>card two header</h3>
        <p>card two paragraph text</p>
      </div>
    </div>
    <div class="card-left col-10">
      <div class="card-left-text">
        <h3>card three header</h3>
        <p>card three paragraph text</p>
      </div>
      <div class="card-left-img">
        <%= image_tag "logo.png", alt: "alt" %>
      </div>
    </div>
  </div>
</div>
