<%# pages#home %>

<div class="body-container">
  <div class="grouped-cards">
    <div class="homepage-title col-8">
      <div class="slide-in title">
        <h1>Hey There!</h1>
      </div>
      <div class="slide-in subtitle">
        <h3>Beth - Full-Stack Web Developer - Software Engineer</h3>
      </div>
    </div>
    <div class="wide-card col-8">
      <p id="intro-card">Trustworthy, with a high attention to detail, I'm passionate
        about the code I write. Please feel welcome to browse my site, and don't
        hesitate to contact me regarding any projects you would like my involvement in.</p>
    </div>
    <div class="card-row col-8">
      <%= link_to about_path, class: 'card-link col-5' do %>
        <div class="button-card">
          <p>About Me</p>
        </div>
      <% end %>
      <%= link_to projects_path, class: 'card-link col-5' do %>
        <div class="button-card">
          <p>Projects</p>
        </div>
      <% end %>
    </div>
    <div class="card-row col-8">
      <%= link_to resume_path, class: 'card-link col-5' do %>
        <div class="button-card">
          <p>Resume</p>
        </div>
      <% end %>
      <%= link_to contact_path, class: 'card-link col-5' do %>
        <div class="button-card">
          <p>Contact</p>
        </div>
      <% end %>
    </div>
  </div>
</div>
