<%# pages#projects %>
<div class="page-banner-projects">
  <div class="back-button-projects">
    <%= link_to :back do %>
      <i class="fa-solid fa-circle-arrow-left"></i>
    <% end %>
  </div>
  <div class="page-title-projects">
    <h3>Past Projects</h3>
  </div>
</div>
