<p>You have a new contact form submission:</p>
<p><strong>Name:</strong> <%= @name %></p>
<p><strong>Email:</strong> <%= @from_email %></p>
<p><strong>Message Title:</strong> <%= @title %></p>
<p><strong>Message:</strong> <%= @message %></p>
