body {
  // pink spaghetti
  background: radial-gradient(at bottom right, #ffeff1 0, #ffeff1 25px, rgba(255,239,241,0.2) 25px, rgba(255,239,241,0.2) 50px, rgba(255,239,241,0.75) 50px, rgba(255,239,241,0.75) 75px, rgba(255,239,241,0.25) 75px, rgba(255,239,241,0.25) 100px, rgba(255,239,241,0.3) 100px, rgba(255,239,241,0.3) 125px, rgba(255,239,241,0.75) 125px, rgba(255,239,241,0.75) 150px, rgba(255,239,241,0.2) 150px, rgba(255,239,241,0.2) 175px, transparent 175px, transparent 200px), radial-gradient(at top left, transparent 0, transparent 25px, rgba(255,239,241,0.2) 25px, rgba(255,239,241,0.2) 50px, rgba(255,239,241,0.75) 50px, rgba(255,239,241,0.75) 75px, rgba(255,239,241,0.3) 75px, rgba(255,239,241,0.3) 100px, rgba(255,239,241,0.25) 100px, rgba(255,239,241,0.25) 125px, rgba(255,239,241,0.75) 125px, rgba(255,239,241,0.75) 150px, rgba(255,239,241,0.2) 150px, rgba(255,239,241,0.2) 175px, #ffeff1 175px, #ffeff1 200px, transparent 200px, transparent 500px);
  background-blend-mode: multiply;
  background-size: 200px 200px, 200px 200px;
  background-color: #ffeff1;
}

@media (max-width: 767px) {
  body {
    background-color: $faint-pink;
    background: -webkit-linear-gradient(0deg, $button-pink 0%, $faint-pink 25%, $white 50%, $faint-pink 75%, $button-pink 100%);
    background: linear-gradient(0deg, $button-pink 0%, $faint-pink 25%, $white 50%, $faint-pink 75%, $button-pink 100%);
  }
}
