// Styling for navbar
.navbar-container {
  width: 100%;
  display: flex;
  z-index: 1000;
}

.navbar-container .navbar-bethcodes {
  position: fixed;
  z-index: 9999;
  top: 0;
  width: 100%;
  display: flex;
  flex-grow: 1;
  justify-content: space-evenly;
  align-items: center;
  box-shadow: 0px 0px 8px rgba(0, 0, 0, 0.1);
  background-color: $white;

  a {
    text-decoration: none;
    color: $darkest-pink;
    text-align: center;
    transition: 0.3s;
    flex-grow: 1;
    padding: 4px;
    transition: 0.3s ease;
  }

  a:hover {
    color: $hot-pink;
  }

  .navbar-bethcodes-titles {
    justify-content: center;
    text-align: center;
    flex-grow: 1;
    border-left: 0.5px solid $even-darker-pink;
  }

  .navbar-bethcodes-titles-about {
    flex-grow: 1;
    margin-right: 0px;
    justify-content: center;
    text-align: center;
  }

 .navbar-logo {
  padding-left: 0px;
  flex-shrink: 1;
  justify-content: center;
  max-height: 75px;
  width: auto;
 }

 .navbar-logo img {
  border-radius: 1.5px;
  max-width: 100%;
  max-height: 75px;
 }
}
